<section class="about__write">
  <div class="container">
  {% if section.settings.title != blank %}
    <h2 class="about__title title">
        {{ section.settings.title }}
    </h2>
  {% endif %}
  <div class="about-page__slider swiper">
      <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="about__slide swiper-slide">
                {% if block.settings.image != blank %}
                  <picture><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}"></picture>
                {% endif %}
                <div class="container">
                    {% if block.settings.title != blank %}
                      <div class="about__slide-title">
                          {{ block.settings.title }}
                      </div>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="about__slide-text">
                          {{ block.settings.text }}
                      </div>
                    {% endif %}
                    {% if block.settings.button != blank %}
                    <noindex><a href="{{ block.settings.button_url }}" class="about__slide-button button button--blue">
                          <span>{{ block.settings.button }}</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8" fill="none">
                              <path
                                  d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM29.3536 4.35355C29.5488 4.15829 29.5488 3.84171 29.3536 3.64645L26.1716 0.464466C25.9763 0.269204 25.6597 0.269204 25.4645 0.464466C25.2692 0.659728 25.2692 0.976311 25.4645 1.17157L28.2929 4L25.4645 6.82843C25.2692 7.02369 25.2692 7.34027 25.4645 7.53553C25.6597 7.7308 25.9763 7.7308 26.1716 7.53553L29.3536 4.35355ZM1 4.5H29V3.5H1V4.5Z"
                                  fill="white" />
                          </svg>
                      </a></noindex>
                    {% endif %}
                </div>
            </div>
          {% endfor %}
      </div>
      <div class="banner__pagination"></div>
  </div>
</div>
</section>
{% schema %}
  {
    "name": "About News",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "They write about us"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>Lorem ipsum dolor sit amet, <br> consectetuer adipiscin</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a</p>"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button Text",
            "default": "more"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About News"
      }
    ]
  }
{% endschema %}