<section class="about">
    <div class="about__wrapper">
        <div class="container">
            {% if section.settings.image != blank %}
            <div class="about__image">
                <div class="about__image--wrapper">
                    <picture><img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"></picture>
                </div>
            </div>
            {% endif %}
            <div class="about__content">
                {% if section.settings.title != blank %}
                  <p class="about__title title inversion">
                      {{ section.settings.title }}
                  </p>
                {% endif %}
                {% if section.settings.label != blank %}
                  <p class="about__label">
                      {{ section.settings.label }}
                  </p>
                {% endif %}
                {% if section.settings.text != blank %}
                <p class="about__text">
                    {{ section.settings.text }}
                </p>
                {% endif %}
                {% if section.settings.button != blank %}
                <div class="about__buttons center__more">
                    <a href="{{ section.settings.button_url }}" class="about__button button button--green">
                        <span>{{ section.settings.button }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8" fill="none">
                            <path
                                d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM29.3536 4.35355C29.5488 4.15829 29.5488 3.84171 29.3536 3.64645L26.1716 0.464466C25.9763 0.269204 25.6597 0.269204 25.4645 0.464466C25.2692 0.659728 25.2692 0.976311 25.4645 1.17157L28.2929 4L25.4645 6.82843C25.2692 7.02369 25.2692 7.34027 25.4645 7.53553C25.6597 7.7308 25.9763 7.7308 26.1716 7.53553L29.3536 4.35355ZM1 4.5H29V3.5H1V4.5Z"
                                fill="white" />
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "About Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About Us"
      },
      {
        "type": "text",
        "id": "label",
        "label": "Label Text",
        "default": "CAVIAR PRODUCTION"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Bester Caviar is owned by a young woman entrepreneur - Inna Polutska. She immigrated from Ukraine 7 years ago and now offers traditional sturgeon caviar to the American market, just like she used to have in her childhood.Backthen caviar in her country was more affordable, so it was widely used not only for great taste but for health benefits as well.Now Bester’s founder is sourcing and bringing the same traditional and very delicious black caviar at a ..."
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button Text",
        "default": "MORE"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "About Section"
      }
    ]
  }
{% endschema %}