<section class="delivery__city">
    {% if section.settings.title != blank %}
      <h2 class="delivery__title title"> {{ section.settings.title }} </h2>
    {% endif %}
    <div class="delivery__slider swiper">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="delivery__item swiper-slide">
                  {% if block.settings.title != blank %}
                    <div class="delivery__name">
                        {{ block.settings.title }}
                    </div>
                  {% endif %}
                  {% if block.settings.image != blank %}
                    <picture><img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}"></picture>
                  {% endif %}
              </div>
            {% endfor %}
        </div>
        <div class="banner__pagination"></div>
    </div>
    {% if section.settings.button != blank %}
      <a href="{{ section.settings.button_url }}" class="delivery__button button">
          <span>{{ section.settings.button }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8" fill="none">
              <path
                  d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM29.3536 4.35355C29.5488 4.15829 29.5488 3.84171 29.3536 3.64645L26.1716 0.464466C25.9763 0.269204 25.6597 0.269204 25.4645 0.464466C25.2692 0.659728 25.2692 0.976311 25.4645 1.17157L28.2929 4L25.4645 6.82843C25.2692 7.02369 25.2692 7.34027 25.4645 7.53553C25.6597 7.7308 25.9763 7.7308 26.1716 7.53553L29.3536 4.35355ZM1 4.5H29V3.5H1V4.5Z"
                  fill="white" />
          </svg>
      </a>
    {% endif %}
</section>

{% schema %}
  {
    "name": "City Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "City"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button Text",
        "default": "more"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "blocks": [
      {
        "type": "city",
        "name": "City",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "name city"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "City Section"
      }
    ]
  }
{% endschema %}