{% assign caviar_recommendations_types = 'blin,spoon,creme,duck,steak' | split: ',' %}
{% assign blin_recommendations_types = 'caviar,creme,spoon' | split: ',' %}
{% assign spoon_recommendations_types = 'caviar,set,creme' | split: ',' %}
{% assign set_recommendations_types = 'spoon,duck,steak' | split: ',' %}
{% assign steak_recommendations_types = 'caviar,duck' | split: ',' %}

{% assign cart_product_types = "" %}

{%- for item in cart.items -%}
  {% assign product_type = item.product.type | downcase %}
  {% if product_type != blank %}
    {% unless cart_product_types contains product_type %}
      {% assign cart_product_types = cart_product_types | append: product_type | append: ',' %}
    {% endunless %}
  {% endif %}
{%- endfor -%}

{% assign cart_product_types = cart_product_types | split: ',' | uniq %}

{%- for item in cart.items -%}
  {% assign product_type = item.product.type | downcase %}

  {% case product_type %}
    {% when 'caviar' %}
      {% assign recommended_types = recommended_types | concat: caviar_recommendations_types  %}
    {% when 'blin' %}
      {% assign recommended_types = recommended_types | concat: blin_recommendations_types %}
    {% when 'spoon' %}
      {% assign recommended_types = recommended_types | concat: spoon_recommendations_types %}
    {% when 'set' %}
      {% assign recommended_types = recommended_types | concat: set_recommendations_types %}
    {% when 'steak' %}
      {% assign recommended_types = recommended_types | concat: steak_recommendations_types  %}
  {% endcase %}
{%- endfor -%}

{%- assign recommended_types = recommended_types | uniq -%}

{%- assign final_recommendations = "" -%}

{%- for recommendation in recommended_types -%}
  {% unless cart_product_types contains recommendation %}
    {% assign final_recommendations = final_recommendations | append: recommendation | append: ',' %}
  {% endunless %}
{%- endfor -%}

{% assign final_recommendations = final_recommendations | split: ',' | uniq %}

<!-- Randomly select products for each type in final_recommendations -->
{% assign filtered_product_handles = "" %}

{% for final_type in final_recommendations %}
  {% assign filtered_products = collections.all.products | where: "type", final_type %}
  {% assign total_products = filtered_products.size %}
  {% assign max_start = total_products | minus: length %}
  {% assign start_index = "now" | date: "%S" | modulo: max_start %}

  {% assign filtered_product_handles = filtered_product_handles | append: filtered_products[start_index].handle | append: ',' %}
{% endfor %}

{% assign filtered_product_handles = filtered_product_handles | split: ',' | uniq %}


{% if filtered_product_handles.size == 0 %}
  {% assign cart_ids = cart.items | map: 'product_id' %}
  {% assign filtered_product_handles = '' %}

  {% assign filtered_products = collections.all.products | where: "type", 'Caviar' %}

  {% for product in filtered_products %}
    {% unless cart_ids contains product.id %}
      {% assign filtered_product_handles = filtered_product_handles | append: product.handle | append: ',' %}
    {% endunless %}
  {% endfor %}

  {% assign filtered_product_handles = filtered_product_handles | split: ',' %}
{% endif %}


{% if filtered_product_handles.size > 0 %}

  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  {%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
  {%- endstyle -%}

  <section id="{{ section.id }}" class="section-{{ section.id }}-padding">
    <div class="container">
      {% if section.settings.title != blank %}
        <h2 class="featured-products__title title">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.sub_title != blank %}
        <p class="featured-products__subtitle subtitle">
          {{ section.settings.sub_title }}
        </p>
      {% endif %}
      <div class="featured-products__container swiper">
        <div class="featured-products__wrapper swiper-wrapper">
          {% for handle in filtered_product_handles %}
            {% assign product = all_products[handle] %}
            {% if product != blank %}
              <div class="swiper-slide featured-products__slide">
                {% render 'card-product',
                    card_product: product,
                    show_secondary_image: false,
                    image_shape: 'default',
                    media_aspect_ratio: 'square',
                    show_vendor: true,
                    show_rating: false,
                    lazy_load: true,
                    show_quick_add: true,
                    section_id: section.id
                %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="featured-products__pagination pagination"></div>
      </div>
      {% if section.settings.text != blank %}
        <div class="featured-products__description description">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
  </section>

  <script>
      const sliderImages = new Swiper('#{{ section.id }} .featured-products__container', {
          slidesPerView: 1,
          loop: true,
          spaceBetween: 12,
          pagination: {
              el: '.featured-products__pagination',
          },
          breakpoints: {
              '992': {
                  slidesPerView: 4,
              },
              '767': {
                  slidesPerView: 3,
              },
              '480': {
                  slidesPerView: 2,
              }
          }
      });
  </script>
{% endif %}

{% schema %}
{
  "name": "Complete my cart",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Bestsellers in our caviar store"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub-Title",
      "default": "We invite you to familiarize yourself with the most popular products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Complete my cart collection"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Complete my cart"
    }
  ]
}
{% endschema %}