{{ 'faq-tabs-section.css' | asset_url | stylesheet_tag }}

{% assign tabs = section.blocks | where: 'type', 'tab' %}
{% assign accordions = section.blocks | where: 'type', 'item' %}

<section id="faq" class="accordions-filter container">
  <div class="accordions-filter_tabs">
    <button class="accordions-filter_tab js-accordions-filter-tab" data-filter="all">
      All FAQ
    </button>

    {% for tab in tabs %}
      <button class="accordions-filter_tab js-accordions-filter-tab" data-filter="{{ tab.settings.category | downcase }}">
        {{ tab.settings.title }}
      </button>
    {% endfor %}
  </div>

  <div class="accordion">
    {% for accordion in accordions %}
      <div class="accordion-item js-accordion-item" data-category="{{ accordion.settings.category | downcase}}">
        <button class="accordion-header">
          <span class="accordion-header__toggle"></span>
          <span>{{ accordion.settings.question }}</span>
        </button>

        <div class="accordion-body">
          <p class="accordion-body__content">
            {{ accordion.settings.answer }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const accordionItems = document.querySelectorAll('.js-accordion-item');
        const tabButtons = document.querySelectorAll('.js-accordions-filter-tab');

        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        const filter = params.get('filter');

        const initialTab = [...tabButtons].find(tab => tab.dataset.filter === filter) || tabButtons[0];

        accordionItems.forEach(item => {
            const header = item.querySelector('.accordion-header');

            header.addEventListener('click', function() {
                const openItem = document.querySelector('.js-accordion-item.active');

                toggleItem(item);

                if (openItem && openItem !== item) {
                    toggleItem(openItem);
                }
            });
        });

        const toggleItem = (item) => {
            const body = item.querySelector('.accordion-body');

            if (item.classList.contains('active')) {
                body.style.maxHeight = null;
                item.classList.remove('active');
            } else {
                body.style.maxHeight = body.scrollHeight + 'px';
                item.classList.add('active');
            }
        };

        tabButtons.forEach(button => {
            button.addEventListener('click', function() {
                const filter = this.getAttribute('data-filter');

                accordionItems.forEach(item => {
                    if (filter === 'all' || item.getAttribute('data-category') === filter) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });

                document.querySelectorAll('.js-accordion-item.active').forEach(activeItem => {
                    toggleItem(activeItem);
                });

                tabButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
            });
        });

        initialTab.click();
    });
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {%- for block in section.blocks -%}
    {%- if block.type == "item" -%}
      {
    	"@type": "Question",
    	"name": "{{ block.settings.question }}",
    	"acceptedAnswer": {
      	"@type": "Answer",
      	"text": "{{ block.settings.answer }}"
    	}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  ]
}
</script>

{% schema %}
  {
    "name": "FAQ Tabs Section",
    "settings": [
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "category",
            "label": "Category"
          }
        ]
      },
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "category",
            "label": "Category"
          },
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "How much is shipping?"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "Answer",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Et maxime aliquid aliquam ratione similique ab eligendi doloremque excepturi dignissimos tenetur veniam earum pariatur inventore esse reprehenderit, officia sit rem laudantium temporibus quia voluptate eaque obcaecati. Magnam eius debitis voluptate possimus aut. Totam laudantium amet dolor voluptatibus veniam, incidunt doloremque aliquam."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Tabs Section"
      }
    ]
  }
{% endschema %}